<section class="todoapp">
	<header class="header">
		<form id="new-form">
			<input type="text" class="new-todo" />
		</form>
	</header>

	<section class="main">
		<ul class="todo-list">
<!-- DYNAMICALLY GENERATED SAMPLE HTML
		 	<li>
				<input type="checkbox" name="toggle">
				<label>Do Laundry</label>
			</li> 
-->
		</ul>
	</section>
</section>
